
.vehicleImage {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        max-width: 150px;
    }
}
.productDetails {
    width: 80%;
    padding: 0 1px 0 10px;
    .priceNotSpecified {
        margin-left: 10px;
    }
    a {
        color: #999;
        text-decoration: none;
    }
}

.lineBreaker {
    border: 1px solid #ecf0f1;
}

