.vehicleImage {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .vehicleImage img {
    width: 100%; }

.productDetails {
  width: 70%;
  padding: 0 20px; }
  .productDetails .priceNotSpecified {
    margin-left: 10px; }
  .productDetails a {
    color: #999;
    text-decoration: none; }

.lineBreaker {
  border: 1px solid #ecf0f1; }
