.vehicleImage {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .vehicleImage img {
    width: 100%;
    max-width: 150px; }

.productDetails {
  width: 80%;
  padding: 0 1px 0 10px; }
  .productDetails .priceNotSpecified {
    margin-left: 10px; }
  .productDetails a {
    color: #999;
    text-decoration: none; }

.lineBreaker {
  border: 1px solid #ecf0f1; }
