
.companyLogo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 80%;
    }
}
.productDetails {
    width: 70%;
    .priceNotSpecified {
        margin-left: 10px;
    }
    a {
        color: #999;
        text-decoration: none;
    }
}

.lineBreaker {
    border: 1px solid #ecf0f1;
}


