.carouselContainer {
    width: 100%;
    transition: 1s ease;
    .mainImageView{
        img {
            width : 100%;
        }
    }
    .allImages {
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        img {
            height: 70px;
            margin: 5px;
            &:first-child{
                margin-left: 0
            }
            &:last-child{
                margin-right: 0
            }
        }
    }
}
