.carouselContainer {
    width: 100%;
    transition: 1s ease;
    .mainImageView{
        img {
            width : 100%;
        }
    }
    .allImages {
        animation: 0.3s ease-out 0s 1 slideInFromLeft;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        img {
            height: 70px;
            margin: 5px;
            &:first-child{
                margin-left: 0
            }
            &:last-child{
                margin-right: 0
            }
        }
    }
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }