.singlePageContainer {
    max-width: 800px;
    margin: 0 auto;
    .productDescription {
        color: #999;
        line-height: 1.4;
    }
    .singleColOne {
        width: 60%;

        .priceTag {
            margin: 10px 0;
            color: #ffffff;
            background-color: #00bcd4;
            min-width:100px;
            max-width:200px;
            padding: 10px; 
        }
    }

    ul {
        li {
            list-style: none;
            line-height: 2;
            color: #999;
            span {
                color: #00bcd4;
            }
        }
    }
}

.footerContainer {
    margin-top: 100px;
    background-color: #2980b9;
    padding:"10px 20px";
    color: #ffffff;
    line-height: 0.1;
    ul {
        li {
            list-style: none;
            line-height: 2;
            color: #fff;
            
        }
    }
}

