.productListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .productListWrapper{
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}