.jobListContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .jobListContainer .jobListWrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center; }
