.productListContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .productListContainer .productListWrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .productListContainer .productListWrapper .nodeLink {
      width: 100%; }

.spaceBetween {
  height: 110px; }
