.productExtrasContainer {
  padding: 20px 0;
  display: inline-flex; }
  .productExtrasContainer .productDetailExtras {
    color: #999;
    font-size: 14px;
    font-weight: 100;
    margin-right: 15px; }
  .productExtrasContainer a {
    color: #999;
    text-decoration: none; }
