
.FloatingBackBtn {
    position: fixed;
    bottom : 20px;
    right: 2%;
    z-index: 2;
    font-size: 53px;
    cursor: pointer;
    color: #00bcd4;

    &:hover {
        transform: scale(1.2,1.2);
        transition : transform 0.2s ease;
    }
}