.headerMain {
    height: 55px;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    background-color:#00bcd4 ;
    z-index: 2;

    .sitelogoArea{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 166px;
        height: 55px;
        cursor: pointer;
        img {
            width: 86px;
            max-height: 42px;
        } 
    }
    .postAdd{
        display: inline;
        float: right;
        position: relative;
        top: -47px;
        left: -36px;
        color: #fff;
        cursor: pointer;
        a {
            color: #fff ;
            text-decoration: none;
        }
    }
}   