.headerMain {
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    background-color:#000000 ;
    z-index: 2;

    .sitelogoArea{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 64px;
    }
    .postAdd{
        display: inline;
        float: right;
        position: relative;
        top: -47px;
        left: -34px;
        background-color: #ffffff;
        padding: 8px 27px;
        color: black;
        border-radius: 2px;
        cursor: pointer;
        margin-right :20px;
        a {
            color: #000000 ;
            text-decoration: none;
        }
    }
}   