.loginWrapper {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .loginWrapper .facebookLoginBtn {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #4080ff;
    margin: 5px 0;
    width: 230px;
    text-align: center;
    font-weight: 800;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    position: relative;
    vertical-align: top;
    width: 300px; }
    .loginWrapper .facebookLoginBtn:hover:after {
      background-color: rgba(0, 0, 255, 0.3);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0; }
